In [2]:
import pandas as pd

In [3]:
#df = pd.read_csv("data_sets/health_data/annual-mortality-rate-from-seasonal-influenza-ages-65.csv")
df = pd.read_csv("data_sets/air_quality/Air_Polution.csv")

In [4]:
df.head()

,Country Name,City,Year,PM2.5 (μg/m3),PM10 (μg/m3),NO2 (μg/m3),PM25 temporal coverage (%),PM10 temporal coverage (%),NO2 temporal coverage (%),Updated Year
0,Afghanistan,Kabul,2019,119.77,NaN,NaN,18.0,NaN,NaN,2022
1,Albania,Durres,2015,NaN,17.65,26.63,NaN,NaN,83.961187,2022
2,Albania,Durres,2016,14.32,24.56,24.78,NaN,NaN,87.932605,2022
3,Albania,Elbasan,2015,NaN,NaN,23.96,NaN,NaN,97.853881,2022
4,Albania,Elbasan,2016,NaN,NaN,26.26,NaN,NaN,96.049636,2022

In [5]:
df.shape

(32191, 10)

In [6]:
df.tail()

,Country Name,City,Year,PM2.5 (μg/m3),PM10 (μg/m3),NO2 (μg/m3),PM25 temporal coverage (%),PM10 temporal coverage (%),NO2 temporal coverage (%),Updated Year
32186,Viet Nam,Nha Trang,2013,NaN,30.0,NaN,NaN,NaN,NaN,2018
32187,Viet Nam,Nha Trang,2014,NaN,12.0,NaN,NaN,NaN,NaN,2018
32188,Viet Nam,Nha Trang,2015,NaN,14.0,NaN,NaN,NaN,NaN,2018
32189,Viet Nam,Viet Tri,2013,NaN,27.0,NaN,NaN,NaN,NaN,2018
32190,Viet Nam,Viet Tri,2014,NaN,22.0,NaN,NaN,NaN,NaN,2018