In [20]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

# Import data
df_mean = pd.read_csv("pm25_mean.csv")  


df_mean

,Country,Continent,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,Asia,68.97,66.94,68.26,72.18,68.06,67.20,64.00,61.78,70.25,62.49
1,Albania,Europe,21.95,23.00,21.70,19.77,19.13,18.98,18.15,19.01,19.76,16.28
2,Algeria,Africa,21.27,21.56,22.76,21.19,22.64,22.49,23.06,23.33,22.73,22.68
3,Andorra,Europe,11.43,11.66,10.80,10.15,9.35,9.94,9.06,9.31,9.21,8.52
4,Angola,Africa,24.20,24.67,24.01,24.53,24.12,25.03,26.08,25.44,25.85,27.16
...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela (Bolivarian Republic of),America,20.67,20.71,19.87,21.00,19.84,20.12,19.65,18.71,17.06,16.21
191,Viet Nam,Asia,22.37,20.67,21.67,22.62,20.08,20.47,22.37,20.10,20.09,20.89
192,Yemen,Asia,38.83,41.03,42.49,41.02,38.27,41.06,39.91,41.32,41.62,41.61
193,Zambia,Africa,17.09,17.33,17.55,17.24,17.29,17.43,17.32,16.99,16.99,16.90
194,Zimbabwe,Africa,13.28,13.27,13.21,13.10,13.12,13.27,13.09,13.15,13.12,13.08

In [48]:
# Training a linear regression model and looping through each country

countries = df_mean['Country'].unique()

for country in countries:
    y_country = df_mean.loc[df_mean['Country'] == country, years]
    y_country = np.array(y_country).reshape(-1,1)
    
    model.fit(X, y_country)
    
    df_mean.loc[df_mean['Country'] == country, '2020'] = round(model.predict(np.array([[2020]]))[0][0], 2)
    df_mean.loc[df_mean['Country'] == country, '2021'] = round(model.predict(np.array([[2021]]))[0][0], 2)
    df_mean.loc[df_mean['Country'] == country, '2022'] = round(model.predict(np.array([[2022]]))[0][0], 2)
    df_mean.loc[df_mean['Country'] == country, '2023'] = round(model.predict(np.array([[2023]]))[0][0], 2)

In [49]:
df_mean

,Country,Continent,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,Predicted_2020,Predicted_2021,Predicted_2022,Predicted_2023,2020,2021,2022,2023
0,Afghanistan,Asia,68.97,66.94,68.26,72.18,68.06,67.20,64.00,61.78,70.25,62.49,63.91,63.35,62.79,62.22,63.91,63.35,62.79,62.22
1,Albania,Europe,21.95,23.00,21.70,19.77,19.13,18.98,18.15,19.01,19.76,16.28,16.70,16.14,15.58,15.02,16.70,16.14,15.58,15.02
2,Algeria,Africa,21.27,21.56,22.76,21.19,22.64,22.49,23.06,23.33,22.73,22.68,23.34,23.52,23.70,23.87,23.34,23.52,23.70,23.87
3,Andorra,Europe,11.43,11.66,10.80,10.15,9.35,9.94,9.06,9.31,9.21,8.52,8.16,7.84,7.51,7.19,8.16,7.84,7.51,7.19
4,Angola,Africa,24.20,24.67,24.01,24.53,24.12,25.03,26.08,25.44,25.85,27.16,26.70,26.98,27.27,27.56,26.70,26.98,27.27,27.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela (Bolivarian Republic of),America,20.67,20.71,19.87,21.00,19.84,20.12,19.65,18.71,17.06,16.21,16.88,16.42,15.96,15.51,16.88,16.42,15.96,15.51
191,Viet Nam,Asia,22.37,20.67,21.67,22.62,20.08,20.47,22.37,20.10,20.09,20.89,20.28,20.12,19.97,19.81,20.28,20.12,19.97,19.81
192,Yemen,Asia,38.83,41.03,42.49,41.02,38.27,41.06,39.91,41.32,41.62,41.61,41.47,41.61,41.75,41.89,41.47,41.61,41.75,41.89
193,Zambia,Africa,17.09,17.33,17.55,17.24,17.29,17.43,17.32,16.99,16.99,16.90,17.00,16.96,16.92,16.88,17.00,16.96,16.92,16.88
194,Zimbabwe,Africa,13.28,13.27,13.21,13.10,13.12,13.27,13.09,13.15,13.12,13.08,13.07,13.05,13.03,13.01,13.07,13.05,13.03,13.01

In [51]:
df_mean.to_csv('predictions_2023_pm25.csv', index=False)