In [2]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

# Import data
df_mean = pd.read_csv("pm25_mean.csv")  


df_mean

,Country,Continent,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,Asia,68.97,66.94,68.26,72.18,68.06,67.20,64.00,61.78,70.25,62.49
1,Albania,Europe,21.95,23.00,21.70,19.77,19.13,18.98,18.15,19.01,19.76,16.28
2,Algeria,Africa,21.27,21.56,22.76,21.19,22.64,22.49,23.06,23.33,22.73,22.68
3,Andorra,Europe,11.43,11.66,10.80,10.15,9.35,9.94,9.06,9.31,9.21,8.52
4,Angola,Africa,24.20,24.67,24.01,24.53,24.12,25.03,26.08,25.44,25.85,27.16
...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela (Bolivarian Republic of),America,20.67,20.71,19.87,21.00,19.84,20.12,19.65,18.71,17.06,16.21
191,Viet Nam,Asia,22.37,20.67,21.67,22.62,20.08,20.47,22.37,20.10,20.09,20.89
192,Yemen,Asia,38.83,41.03,42.49,41.02,38.27,41.06,39.91,41.32,41.62,41.61
193,Zambia,Africa,17.09,17.33,17.55,17.24,17.29,17.43,17.32,16.99,16.99,16.90
194,Zimbabwe,Africa,13.28,13.27,13.21,13.10,13.12,13.27,13.09,13.15,13.12,13.08

In [3]:
# Training a linear regression model and looping through each country

years = df_mean.columns[2:11]
X = np.array(years).reshape(-1, 1)

countries = df_mean['Country'].unique()

for country in countries:
    y_country = df_mean.loc[df_mean['Country'] == country, years]
    y_country = np.array(y_country).reshape(-1,1)
    
    model = LinearRegression()
    model.fit(X, y_country)
    
    df_mean.loc[df_mean['Country'] == country, '2020'] = round(model.predict(np.array([[2020]]))[0][0], 2)
    df_mean.loc[df_mean['Country'] == country, '2021'] = round(model.predict(np.array([[2021]]))[0][0], 2)
    df_mean.loc[df_mean['Country'] == country, '2022'] = round(model.predict(np.array([[2022]]))[0][0], 2)
    df_mean.loc[df_mean['Country'] == country, '2023'] = round(model.predict(np.array([[2023]]))[0][0], 2)

In [4]:
df_mean

,Country,Continent,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Afghanistan,Asia,68.97,66.94,68.26,72.18,68.06,67.20,64.00,61.78,70.25,62.49,65.13,64.73,64.33,63.94
1,Albania,Europe,21.95,23.00,21.70,19.77,19.13,18.98,18.15,19.01,19.76,16.28,17.30,16.82,16.35,15.87
2,Algeria,Africa,21.27,21.56,22.76,21.19,22.64,22.49,23.06,23.33,22.73,22.68,23.64,23.86,24.08,24.29
3,Andorra,Europe,11.43,11.66,10.80,10.15,9.35,9.94,9.06,9.31,9.21,8.52,8.14,7.81,7.49,7.16
4,Angola,Africa,24.20,24.67,24.01,24.53,24.12,25.03,26.08,25.44,25.85,27.16,26.24,26.46,26.69,26.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela (Bolivarian Republic of),America,20.67,20.71,19.87,21.00,19.84,20.12,19.65,18.71,17.06,16.21,17.56,17.20,16.84,16.47
191,Viet Nam,Asia,22.37,20.67,21.67,22.62,20.08,20.47,22.37,20.10,20.09,20.89,20.00,19.81,19.62,19.42
192,Yemen,Asia,38.83,41.03,42.49,41.02,38.27,41.06,39.91,41.32,41.62,41.61,41.31,41.42,41.54,41.65
193,Zambia,Africa,17.09,17.33,17.55,17.24,17.29,17.43,17.32,16.99,16.99,16.90,17.08,17.05,17.02,16.99
194,Zimbabwe,Africa,13.28,13.27,13.21,13.10,13.12,13.27,13.09,13.15,13.12,13.08,13.07,13.05,13.04,13.02

In [8]:
df_predict = df_mean.iloc[:, [0, 1] + list(range(12, 16))]
df_predict

                                Country Continent   2020   2021   2022   2023
0                           Afghanistan      Asia  65.13  64.73  64.33  63.94
1                               Albania    Europe  17.30  16.82  16.35  15.87
2                               Algeria    Africa  23.64  23.86  24.08  24.29
3                               Andorra    Europe   8.14   7.81   7.49   7.16
4                                Angola    Africa  26.24  26.46  26.69  26.91
..                                  ...       ...    ...    ...    ...    ...
190  Venezuela (Bolivarian Republic of)   America  17.56  17.20  16.84  16.47
191                            Viet Nam      Asia  20.00  19.81  19.62  19.42
192                               Yemen      Asia  41.31  41.42  41.54  41.65
193                              Zambia    Africa  17.08  17.05  17.02  16.99
194                            Zimbabwe    Africa  13.07  13.05  13.04  13.02

[195 rows x 6 columns]

In [10]:
df_mean.to_csv('predictions_pm25.csv', index=False)